.logo {
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:red;
    font-size: 40px;
}


.adv-logo {
    color: #d93025;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 20px;
}


.search-field {
    width: 500px;
    height: 30px;
    padding-left: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}


.search-input {
    border: 1px solid lightgrey;
    border-radius: 20px;
}



.img-search-input {
    border: 1px solid lightgrey;
    border-radius: 20px;
}


.search-input:hover, .img-search-input:hover {
    box-shadow: 0px 0px 5px lightgrey;
}


input[type="submit"] {
    border: none;
    background-color: rgb(240, 240, 240);

}


input[type="submit"]:hover {
    box-shadow: 0px 0px 3px grey;
}


.adv-input {
    border: 1px solid lightgrey;
    border-radius: 0px;
    height: 25px;
    width: 500px;
}


#submit-btn {
    width: 150px;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    margin-top: 50px;
    left: 50%;
    transform: translate(-100%, -50%);
}


#lucky-btn {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    margin-top: 50px;
    left: 50%;
    transform: translate(-0%, -50%);
}


#img-search-btn {
    width: 150px;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}


#adv-search-btn {
    width: 150px;
    height: 30px;
    margin-right: 20px;
    position: relative;
    margin-top: 20px;
    left: 620px;
    transform: translate(-50%, -50%);
    background-color: #4d90fe;
    color: white;
    font-weight: bold;
    font-size: 12px;
    box-shadow: none;
}


#adv-search-btn:hover {
    background-color: #4787ed;
}


#header {
    width: 100%;
    display:flexbox;
}


a {
    color: black;
    text-decoration: none;
    font-family: Calibri;
    padding-left: 15px;
}


#image-search {
    position: absolute;
    right: 150px;
}


#adv-search {
    position: absolute;
    right: 20px;
}


.back {
    position: absolute;
    right: 20px;
}


#adv-search-field {
width: auto;
display: grid;
grid-template-columns: 200px 3fr;
grid-template-rows: 1fr;
margin: 20px;
justify-content: end;
}

#adv-p {
    margin-left: 20px;
    margin-top:100px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}



