

#logo {
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:red;
    font-size: 40px;
}

#search-field {
    width: 500px;
    height: 30px;
    padding-left: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}


input[type="text"] {
    border: 1px solid lightgrey;
    border-radius: 20px;
}

input[type="text"]:hover {
    box-shadow: 0px 0px 5px lightgrey;
}



input[type="submit"] {
    border: none;
    background-color: rgb(240, 240, 240);

}

input[type="submit"]:hover {
    box-shadow: 0px 0px 3px grey;
}


#submit-btn {
    width: 150px;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-100%, -50%);
}


#lucky-btn {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-0%, -50%);
}

#header {
    width: 100%;
    display:flexbox;
}

a {
    color: black;
    text-decoration: none;
    font-family: Calibri;
    padding-left: 15px;
}

#image-search {
    position: absolute;
    right: 150px;
}

#adv-search {
    position: absolute;
    right: 20px
}